body {
    margin: 0;
    font-family: Montserrat;
    background-color: #000;
}

.title {
    text-align: center;
    position: absolute;
    margin-top: -1.25em;
    margin-left: 46vw;
    font-size: 2em;
    font-weight: 400;
    color: #ffffff;
    float: right;
}

ul {
    height: 2.5em;
    border-bottom: 1px  #ffffff solid;
}

ul li {
    display: inline-block;
    margin-right: 3.5vw;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-style: oblique;
    text-transform: uppercase;
}

ul li a:hover {
    color: #ffffff;
    transition: 0.4s;
}

ul li a:after {
    content: "";
    position: block;
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    transition: 0.4s;
    bottom: 25%;
}

ul li a:after {
    color: #ffffff;
}

ul li a:hover:after {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.frame1 {
    display: inline-block;
    width: 30%;
    height: 30em;
    margin-left: 35vw;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.501);
    border-radius: 10px;
}

h2 {
    color: #fff;
    font-weight: 300;
    text-decoration: underline 1px ;
    text-decoration-color: #fff;
}

button {
    cursor: pointer;
    outline: none;
    float:left;
}

.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    margin-top: 5em;
    margin-left: 62.5em;
    text-transform: uppercase;
    transition: all 0.2s linear
}

a {
    text-decoration: none;
}

.outline:hover {
    color: rgb(0, 0, 0);
    background: #ffffff;
    transition: all 0.2s linear;
}

.outline:active {
    border-radius: 22px;
}

.frame2 {
    margin-top: 3em;
    text-align: center;
    position: flex;
}

.text-zone {
    font-family: Montserrat;
    box-sizing: border-box;
    background-color: transparent;
    padding: 3px;
    margin-left: -53.5vw;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius:3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ffffff;
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.79);
    width: 30%;
}
